body{
    background-color: coral;
    background-image: url("image1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    }

    h1{
        color: darkgreen;
        background-color: aliceblue;
        font: italic 200% fantasy;
        text-align: center;
        border: 3px groove #f3f2f2;
        width: fit-content;
        padding: 10px;
    }

    h2{
        color: thistle;
        background-color: rgb(88, 2, 53);
        width: fit-content;
       
    }

    h3{
        color: thistle;
        background-color: rgb(35, 2, 88);
        width: fit-content;
        padding: 10px;
    }

    h4{
        color: whitesmoke;
        background-color: rgb(3, 77, 77);
        width: fit-content;
        padding: 10px;
    }


img{
    width: 400px;
    height: 300px;
    border-radius: 10px;
}

a{
    background-color: aquamarine;
    color: rgb(0, 0, 0);
    padding: 5px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-weight: 800;
    border-radius: 5px;
}

a:hover {
    background-color: rgb(252, 2, 2);
    color: rgb(42, 12, 209);
    padding: 10px;
}

table{
    background-color: white;
    color: tomato;
    padding: 10px;
    width: 500px;
}

/* Classes --- you can change a particular tag using the class --- dot notation */

.TopNav { /* Top Naviagtion */

    background-color: rgb(250, 250, 250);
    width: auto;
    padding: 10px;
}


/* Format the form fields */

input[type=text]{

    width: 100%;
    padding: 15px 22px;
    margin: 10px 5px;
    box-sizing: border-box;
    background-color: darkgray;
    color: black;

}


input[type=text]:focus{
    border: 5px solid #fd0000;
}


input[type=password]{

    width: 100%;
    padding: 15px 22px;
    margin: 10px 5px;
    box-sizing: border-box;
    background-color: rgb(124, 186, 236);
    color: black;

}